NET "clk" LOC = "T9" ;
NET "reset" LOC = "L14" ; 
NET "switch0" LOC = "F12";
NET "switch1" LOC = "G12";
NET "switch2" LOC = "H14";
NET "switch3" LOC = "H13";
NET "switch4" LOC = "J14";
NET "switch5" LOC = "J13";
NET "switch6" LOC = "K14";
NET "switch7" LOC = "K13";
NET "button0" LOC = "M13";
NET "button1" LOC = "M14";
NET "button2" LOC = "L13";
NET "led0" LOC = "K12";
NET "led1" LOC = "P14";
NET "led2" LOC = "L12";
NET "led3" LOC = "N14";
NET "led4" LOC = "P13";
NET "led5" LOC = "N12";
NET "led6" LOC = "P12";
NET "led7" LOC = "P11";
NET "algarismo<0>" LOC = "N16" ;
NET "algarismo<1>" LOC = "F13" ;
NET "algarismo<2>" LOC = "R16" ;
NET "algarismo<3>" LOC = "P15" ;
NET "algarismo<4>" LOC = "N15" ;
NET "algarismo<5>" LOC = "G13" ;
NET "algarismo<6>" LOC = "E14" ;
NET "algarismo<7>" LOC = "P16" ;
NET "an0" LOC = "D14" ;
NET "an1" LOC = "G14" ;
NET "an2" LOC = "F14" ; 
NET "an3" LOC = "E13" ;